.section-container {
  display: flex;
  /* background-color: #43a5fe; */
  background-image: url("https://wphtml.com/html/tf/aithm-demo/assets/img/banner/background-7.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.left {
  flex: 50%;
}

.right-side {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  h2 {
    font-size: xxx-large;
  }

  h4 {
    text-align: left;
  }
}

.image {
  width: 70%;
  /* padding: 20px;x */
}

.check-elements {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: -10px;
}

.check-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
  padding: 10px;
}

.about-btn {
  font-size: 18px;
  background: linear-gradient(90deg, #0b6fcb, #43a5fe);
  border: none;
  padding: 14px;
  margin: 10px;
  cursor: pointer;
  width: 140px;
  border-radius: 2px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
}
