.section-container {
  display: flex;
}

.left {
  flex: 50%;
}

.right-side {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;

  h2 {
    font-size: xxx-large;
  }

  h4 {
    text-align: left;
  }
}

.image {
  width: 90%;
  padding: 20px;
}

.check-elements {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.check-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
}

.about-btn {
  font-size: 20px;
  background: linear-gradient(90deg, #0b6fcb, #43a5fe);
  animation: gradientTransition 5s infinite;
  border: none;
  padding: 14px;
  margin: 10px;
  cursor: pointer;
}
