.footer {
  background: linear-gradient(90deg, #062d52, #062d52);
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  /* height: 90px; */
  margin-top: 200px;
  position: relative;
}

.footer-wave {
  position: absolute;
  top: -190px; /* Adjust this value to control the position of the wave */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.footer-wave-path {
  fill: url(#footer-gradient); /* Reference the gradient defined in the SVG */
}

.footer-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  height: 40px;
}

.brand-icons {
  padding: 20px;
  width: 24%;
  display: flex;
  justify-content: space-evenly;
}

.footer-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 20%;
  text-decoration: none;
}

.right-footer-nav {
  background-color: yellow;
}

.textIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 60%;
}

.right-footer-nav {
  flex: 20%;
}
