.footer-container {
  /* background: linear-gradient(90deg, #0b6fcb, #43a5fe); */
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  height: 14vh;
  margin-top: 100px;
  display: flex;
  border: 1px inset #424286;
  align-items: center;
  color: white;
  background-image: url("../assets/images/background-5.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.footer-copyright {
  flex: 25%;
}

.footer-icons {
  flex: 25%;
}

.footer-nav {
  all: unset;
  flex: 20%;
  font-size: 14px;
  color: white;
  text-decoration: underline;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  text-decoration: none;
}

.icon-item {
  all: unset;

  &:hover {
    color: rgb(61, 190, 255);
  }
}

.highcon {
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    color: #0b6fcb;
  }
}
