.App-header {
  /* background-color: yellow; */
  display: flex;
  height: 15vh;
  /* justify-content: space-around; */
  align-items: center;
  border-bottom: solid 1px rgb(39, 39, 39);
  padding: 0px 30px 0px;
}

.link-item {
  color: white;
  font-weight: 600;
  font-size: 17px;
  text-decoration: none;
}

.nav-items {
  /* background-color: blue; */
  flex: 6;
  /* padding: -30px; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  /* background-color: yellow; */
  flex: 2;
}

.right-elements {
  /* background-color: red; */
  flex: 3;
  display: flex;
  justify-content: center;
}

.right {
  /* background-color: blue; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 200px;
  cursor: pointer;
  
}

.icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  background: linear-gradient(90deg, #0b6fcb, #43a5fe);
  animation: gradientTransition 5s infinite; /* Animation for the gradient */
}

@keyframes gradientTransition {
  0% {
    background: linear-gradient(90deg, #0b6fcb, #43a5fe);
  }
  50% {
    background: linear-gradient(90deg, #43a5fe, #0b6fcb);
  }
  100% {
    background: linear-gradient(90deg, #0b6fcb, #43a5fe);
  }
}

.icon-pointer {
  display: inline-block;
  margin-left: 10px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Start from the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0); 
  }
  100% {
    opacity: 0;
    transform: translateX(-20px); 
  }
}
